@using DealerManagementSystem.Models
@*@model IEnumerable<DealerManagementSystem.Models.SecOrder>*@
@model IEnumerable<DealerManagementSystem.Models.SecOrderViewModel>


@{
    ViewBag.Title = "DMS |DMS Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    fieldset {
        margin: 10px;
        font-family: sans-serif;
        border: 1px solid #1F497D;
        background: #ddd;
        border-radius: 5px;
        padding: 15px;
        width: 50%;
        float: left;
        position: relative;
    }

        fieldset legend {
            background: #1F497D;
            color: #fff;
            padding: 5px 10px;
            font-size: 12px;
            border-radius: 5px;
            box-shadow: 0 0 0 5px #ddd;
            margin-left: 20px;
            width: 100px;
        }

    #Orders fieldset {
        margin: 10px;
        font-family: sans-serif;
        border: 1px solid #1F497D;
        background: #ddd;
        border-radius: 5px;
        padding: 15px;
        width: 98%;
        float: left;
        position: relative;
    }

    #Orders legend {
        background: #1F497D;
        color: #fff;
        padding: 5px 10px;
        font-size: 12px;
        border-radius: 5px;
        box-shadow: 0 0 0 5px #ddd;
        margin-left: 20px;
        width: 65px;
    }
</style>

<div class="form-group">
    @{
        if (Session["UserType"].ToString() == "Manager")
        {
            <label for="CustomerId">Customer:</label>
            <select name="order.CustomerId" id="CustomerId">
                @{
                    if (ViewBag.CustomersList != null)
                    {
                        foreach (var cust in ViewBag.CustomersList)
                        {
                            <option value="@cust.Id">@cust.Text</option>
                        }
                    }
                }
            </select>
                    }
    }
</div>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="card-body d-flex mt-0 pt-0 ml-0 pl-2 pb-2">
        <div class="col-md-3 ml-0 pl-0">
            @Html.Label("From")
            <div class='input-group date' data-provide="datepicker" id='datepicker'>
                <input id="startDate" type='text' class="form-control" required="" placeholder="DD/MM/YYYY" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar">
                    </span>
                </span>
            </div>
        </div>

        <div class="col-md-3">
            @Html.Label("To")
            <div class='input-group date' data-provide="datepicker" id='datepicker2'>
                <input id="endDate" type='text' required="" placeholder="DD/MM/YYYY" class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar">
                    </span>
                </span>
            </div>
        </div>
        <div class="col-md-3">
            <label style="width: 100% !important;color: white;" for="MagId">submit</label>
            <button type="button" id="btnGetOrders" class="btn btn-success">
                <span class="glyphicon glyphicon-search"></span> Get Orders
            </button>
        </div>
        <div class="text-danger"><span id="startDateErrorMsg"></span></div>
        <div class="text-danger"><span id="endDateErrorMsg"></span></div>
    </div>






    <div id="Orders">
        <div class="row">
            <div class="col-md-12">
                <div class="card mb-4">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Orders</h6>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <table style="width:98%" id="example" class="table table-bordered table-responsive">
                            <thead style="height: 40px;">
                                <tr>
                                    @*<th>@Html.Hidden("TranID")</th>
                                    <th>@Html.Hidden("Beat ID")</th>*@
                                    <th>@Html.DisplayNameFor(model => model.RouteName)</th>
                                    @*<th>@Html.DisplayNameFor(model => model.RetailID)</th>*@
                                    <th>@Html.DisplayNameFor(model => model.RetailName)</th>
                                    <th>@Html.DisplayNameFor(model => model.TranDate)</th>
                                    <th>@Html.DisplayNameFor(model => model.NetAmount)</th>
                                    <th>Manage</th>
                                </tr>
                            </thead>
                           
                            <tbody>
                                @foreach (var aDmsOrder in Model)
                                {
                                    <tr>
                                        @*<td>
                                            @Html.HiddenFor(modelItem => aDmsOrder.TranID)
                                        </td>
                                        <td>
                                            @Html.HiddenFor(modelItem => aDmsOrder.BeatID)
                                        </td>*@
                                        <td>
                                            @Html.DisplayFor(modelItem => aDmsOrder.RouteName)
                                        </td>
                                        @*<td>
                                            @Html.DisplayFor(modelItem => aDmsOrder.RetailID)
                                        </td>*@
                                        <td>
                                            @Html.DisplayFor(modelItem => aDmsOrder.RetailName)
                                        </td>
                                        <td>
                                            @{
                                                //string createDate = aDmsOrder.TranDate.ToString("dd-MMM-yyyy");
                                               string createDate = aDmsOrder.TranDate;

                                            }
                                            @Html.DisplayFor(modelItem => createDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => aDmsOrder.NetAmount)
                                        </td>
                                        <td>
                                            <a class="btn btn-primary" href="@Url.Action("EditOrder", "SecOrder", new { TranID = aDmsOrder.TranID })">Delivery</a>
                                        </td>

                                    </tr>
                                                }
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>

                            }



@section scripts
  {

    <script>
        $(document).ready(function () {

           var table = $('#example').dataTable({
                "columns":            [
                    { "width": "150px" },
                    { "width": "150px" },
                    { "width": "100px" },
                    { className: "dt-body-right", "width": "100px" },
                    { className: "dt-body-center", "width": "120px" }
            ],
                'language':
            {
                Search : '<div class="input-group"><span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>',
     
            }
           });


            $('#btnGetOrders').click(function () {
                var table = $('#example').DataTable();
                table.clear().draw();
                var sStartDate = $("#startDate").val();
                var sEndDate = $("#endDate").val();

                if (sStartDate !== "" && sEndDate !== "") {
                    var jsnFormatData = { sStartDate: sStartDate, sEndDate: sEndDate };
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("GetOrders", "SecOrder")',
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify(jsnFormatData),
                        dataType: "json",
                        success: function (data) {
                            if (data.length === 0) {
                                alert('There is no order from ' + sStartDate + ' to ' + sEndDate);
                            }
                            $.each(data, function (i) {
                                var d = new Date(data[i].TranDate);
                                var d_formatted = d.getDate() + "-" + (d.getMonth()+1) +"-" + d.getFullYear();
                                $('#example').DataTable().row.add([
                                    data[i].RouteName,
                                    data[i].RetailName,
                                    d_formatted,
                                    data[i].NetAmount,
                                    '<a class="btn btn-primary" href="@Url.Action("EditOrder", "SecOrder")?TranID=' + data[i].TranID + '">Delivery</a>'
                                ]).draw();
                            });
                        }

                    });
                } else if (sStartDate === "") {
                    //'<a class="btn btn-success btn-sm" target="_blank" style="padding: 2px; margin-right: 3px;" href="/ReportsPreview/Invoice?invoiceId=' + data[i].InvoiceId + '">Invoice</a>' +
                    //                '<a class="btn btn-info btn-sm " target="_blank" style="padding: 2px; margin-right: 3px;" href="/ReportsPreview/WarrantyCard?invoiceId=' + data[i].InvoiceId + '">Warranty</a>'
                    $("#startDateErrorMsg").text("Please Enter From Date!");
                } else {
                    $("#endDateErrorMsg").text("Please Enter Start Date!");
                }
                return false;
            });

            });
    </script>
}

